@font-face {
  font-family: "segoeUI-Semilight";
  src: url("../fonts/segoeUI-Semilight.woff") format("woff");
  // url("../fonts/segoeUI-Semilight.ttf") format("truetype"),
  // url("../fonts/segoeUI-Semilight.svg#segoeUI-Semilight") format("svg");
  font-weight: normal;
  font-style: normal;
  // font-display: fallback;
}
