extends layout/layout.pug

block vars
    -var title='Home'
    -var pageClass = 'homePage'
block content
    main 
        section 
            p test
            img(src="../../assets/images/test.jpg" alt="test")
